In [164]:
import pandas as pd
import os
import matplotlib.pyplot as plt

#### We will first merge the files in a single csv file

In [133]:
all_months = pd.DataFrame()

files = [file for file in os.listdir() if file.endswith('.csv')]
dfs = []
for file in files:
    df = pd.read_csv(file)
    dfs.append(df)
all_months = pd.concat(dfs, ignore_index=True)
all_months.to_csv('all_months.csv')

#### Data Cleaning

In [134]:
all_months.columns = all_months.columns.str.replace(' ', '')

In [221]:
all_months = all_months.dropna(how='any')

In [222]:
all_months['OrderDate'] = pd.to_datetime(all_months['OrderDate'], format='%m/%d/%y %H:%M', errors='coerce')

In [223]:
all_months['QuantityOrdered'] = pd.to_numeric(all_months['QuantityOrdered'], errors='coerce')

In [224]:
all_months['PriceEach'] = pd.to_numeric(all_months['PriceEach'], errors='coerce')

### Question 1: What was the best month for sales? How much was earned in that month?

In [225]:
all_months['Sales'] = all_months['QuantityOrdered'] * all_months['PriceEach']

In [226]:
all_months['Month'] = all_months['OrderDate'].dt.month_name()

In [227]:
results = all_months.groupby('Month').agg({'Sales': 'sum'})

In [228]:
results

                Sales
Month
April      3390670.24
August     2244467.88
December   4613443.34
February   2202022.42
January    1822256.73
July       2647775.76
June       2577802.26
March      2807100.38
May        3152606.75
November   3199603.20
October    3736726.88
September  2097560.13

In [229]:
# ANS: 
# The best month for sales was December (which is expected since it is a national holiday) with earnings = 4613443.34

### Question 2: Which city had the heighst number of sales?

In [233]:
all_months['City'] = all_months['PurchaseAddress'].apply(lambda x: x.split(',')[1])

In [237]:
all_months.groupby('City').agg({'Sales': 'sum'})

                     Sales
City
 Atlanta        2795498.58
 Austin         1819581.75
 Boston         3661642.01
 Dallas         2767975.40
 Los Angeles    5452570.80
 New York City  4664317.43
 Portland       2320490.61
 San Francisco  8262203.91
 Seattle        2747755.48

In [238]:
# ANS:
# The city with the heighest sales is San Francisco with 8262203.91 sales

### Question 3: What time should we display ads to maximize liklihood of customers buying products?