In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt

#### Merge the files into a single csv file

In [133]:
all_months = pd.DataFrame()

files = [file for file in os.listdir() if file.endswith('.csv')]
dfs = []
for file in files:
    df = pd.read_csv(file)
    dfs.append(df)
all_months = pd.concat(dfs, ignore_index=True)
all_months.to_csv('all_months.csv')

In [19]:
all_months = pd.read_csv('all_months.csv')

#### Data Cleaning

In [20]:
all_months.columns = all_months.columns.str.replace(' ', '')

In [21]:
all_months = all_months.dropna(how='any')

In [22]:
all_months['OrderDate'] = pd.to_datetime(all_months['OrderDate'], format='%m/%d/%y %H:%M', errors='coerce')

In [23]:
all_months['QuantityOrdered'] = pd.to_numeric(all_months['QuantityOrdered'], errors='coerce')

In [24]:
all_months['PriceEach'] = pd.to_numeric(all_months['PriceEach'], errors='coerce')

### Question 1: What was the best month for sales? How much was earned in that month?

In [25]:
all_months['Sales'] = all_months['QuantityOrdered'] * all_months['PriceEach']

In [26]:
all_months['Month'] = all_months['OrderDate'].dt.month_name()

In [27]:
results = all_months.groupby('Month').agg({'Sales': 'sum'})

In [28]:
results

                Sales
Month
April      3390670.24
August     2244467.88
December   4613443.34
February   2202022.42
January    1822256.73
July       2647775.76
June       2577802.26
March      2807100.38
May        3152606.75
November   3199603.20
October    3736726.88
September  2097560.13

In [29]:
# ANS: 
# The best month for sales was December (which is expected since it has a national holiday) with earnings = 4613443.34

### Question 2: Which city had the heighst number of sales?

In [62]:
all_months = all_months.dropna(how='any')

,OrderID,Product,QuantityOrdered,PriceEach,OrderDate,PurchaseAddress,Sales,Month,City
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",700.00,January,Boston
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",14.95,January,Portland
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",23.98,January,San Francisco
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",149.99,January,Los Angeles
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",11.99,January,Austin
...,...,...,...,...,...,...,...,...,...
186845,194090,Google Phone,1.0,600.00,2019-04-08 17:11:00,"177 Jackson St, Los Angeles, CA 90001",600.00,April,Los Angeles
186846,194091,AA Batteries (4-pack),1.0,3.84,2019-04-15 16:02:00,"311 Forest St, Austin, TX 73301",3.84,April,Austin
186847,194092,AAA Batteries (4-pack),2.0,2.99,2019-04-28 14:36:00,"347 Sunset St, San Francisco, CA 94016",5.98,April,San Francisco
186848,194093,AA Batteries (4-pack),1.0,3.84,2019-04-14 15:09:00,"835 Lake St, Portland, OR 97035",3.84,April,Portland
186849,194094,Lightning Charging Cable,1.0,14.95,2019-04-18 11:08:00,"354 North St, Boston, MA 02215",14.95,April,Boston

In [63]:
all_months['City'] = all_months['PurchaseAddress'].apply(lambda x: x.split(',')[1])

In [64]:
all_months.groupby('City').agg({'Sales': 'sum'})

                     Sales
City
 Atlanta        2795498.58
 Austin         1819581.75
 Boston         3661642.01
 Dallas         2767975.40
 Los Angeles    5452570.80
 New York City  4664317.43
 Portland       2320490.61
 San Francisco  8262203.91
 Seattle        2747755.48

In [ ]:
# ANS:
# The city with the heighest sales is San Francisco with 8262203.91 sales

### Question 3: What time should we display ads to maximize liklihood of customers buying products?

In [68]:
all_months['Time'] = all_months['OrderDate'].dt.time

In [73]:
all_months

,OrderID,Product,QuantityOrdered,PriceEach,OrderDate,PurchaseAddress,Sales,Month,City,Time
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",700.00,January,Boston,21:25:00
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",14.95,January,Portland,14:15:00
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",23.98,January,San Francisco,13:33:00
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",149.99,January,Los Angeles,20:33:00
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",11.99,January,Austin,11:59:00
...,...,...,...,...,...,...,...,...,...,...
186845,194090,Google Phone,1.0,600.00,2019-04-08 17:11:00,"177 Jackson St, Los Angeles, CA 90001",600.00,April,Los Angeles,17:11:00
186846,194091,AA Batteries (4-pack),1.0,3.84,2019-04-15 16:02:00,"311 Forest St, Austin, TX 73301",3.84,April,Austin,16:02:00
186847,194092,AAA Batteries (4-pack),2.0,2.99,2019-04-28 14:36:00,"347 Sunset St, San Francisco, CA 94016",5.98,April,San Francisco,14:36:00
186848,194093,AA Batteries (4-pack),1.0,3.84,2019-04-14 15:09:00,"835 Lake St, Portland, OR 97035",3.84,April,Portland,15:09:00
186849,194094,Lightning Charging Cable,1.0,14.95,2019-04-18 11:08:00,"354 North St, Boston, MA 02215",14.95,April,Boston,11:08:00

In [120]:
max_sales_df = all_months.groupby('Time').agg({'Sales': 'sum'})
max_sales = max_sales_df.max()
max_sales_at = max_sales_df[max_sales_df['Sales'] == max_sales.item()] #extract the time of max sales from the df
max_sales_at

             Sales
Time
19:01:00  54503.14

In [121]:
# ANS: Ads should be displayed at around 7 pm. This makes sense since this an after-work period

### Question 4: What products are most sold together?