In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

#### We will first merge the files in a single csv file

In [133]:
all_months = pd.DataFrame()

files = [file for file in os.listdir() if file.endswith('.csv')]
dfs = []
for file in files:
    df = pd.read_csv(file)
    dfs.append(df)
all_months = pd.concat(dfs, ignore_index=True)
all_months.to_csv('all_months.csv')

In [2]:
all_months = pd.read_csv('all_months.csv')

#### Data Cleaning

In [3]:
all_months.columns = all_months.columns.str.replace(' ', '')

In [4]:
all_months = all_months.dropna(how='any')

In [5]:
all_months['OrderDate'] = pd.to_datetime(all_months['OrderDate'], format='%m/%d/%y %H:%M', errors='coerce')

In [6]:
all_months['QuantityOrdered'] = pd.to_numeric(all_months['QuantityOrdered'], errors='coerce')

In [7]:
all_months['PriceEach'] = pd.to_numeric(all_months['PriceEach'], errors='coerce')

### Question 1: What was the best month for sales? How much was earned in that month?

In [25]:
all_months['Sales'] = all_months['QuantityOrdered'] * all_months['PriceEach']

In [26]:
all_months['Month'] = all_months['OrderDate'].dt.month_name()

In [27]:
results = all_months.groupby('Month').agg({'Sales': 'sum'})

In [28]:
results

                Sales
Month
April      3390670.24
August     2244467.88
December   4613443.34
February   2202022.42
January    1822256.73
July       2647775.76
June       2577802.26
March      2807100.38
May        3152606.75
November   3199603.20
October    3736726.88
September  2097560.13

In [29]:
# ANS: 
# The best month for sales was December (which is expected since it is a national holiday) with earnings = 4613443.34

### Question 2: Which city had the heighst number of sales?

In [62]:
all_months = all_months.dropna(how='any')

,OrderID,Product,QuantityOrdered,PriceEach,OrderDate,PurchaseAddress,Sales,Month,City
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",700.00,January,Boston
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",14.95,January,Portland
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",23.98,January,San Francisco
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",149.99,January,Los Angeles
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",11.99,January,Austin
...,...,...,...,...,...,...,...,...,...
186845,194090,Google Phone,1.0,600.00,2019-04-08 17:11:00,"177 Jackson St, Los Angeles, CA 90001",600.00,April,Los Angeles
186846,194091,AA Batteries (4-pack),1.0,3.84,2019-04-15 16:02:00,"311 Forest St, Austin, TX 73301",3.84,April,Austin
186847,194092,AAA Batteries (4-pack),2.0,2.99,2019-04-28 14:36:00,"347 Sunset St, San Francisco, CA 94016",5.98,April,San Francisco
186848,194093,AA Batteries (4-pack),1.0,3.84,2019-04-14 15:09:00,"835 Lake St, Portland, OR 97035",3.84,April,Portland
186849,194094,Lightning Charging Cable,1.0,14.95,2019-04-18 11:08:00,"354 North St, Boston, MA 02215",14.95,April,Boston

In [63]:
all_months['City'] = all_months['PurchaseAddress'].apply(lambda x: x.split(',')[1])

In [64]:
all_months.groupby('City').agg({'Sales': 'sum'})

                     Sales
City
 Atlanta        2795498.58
 Austin         1819581.75
 Boston         3661642.01
 Dallas         2767975.40
 Los Angeles    5452570.80
 New York City  4664317.43
 Portland       2320490.61
 San Francisco  8262203.91
 Seattle        2747755.48

In [ ]:
# ANS:
# The city with the heighest sales is San Francisco with 8262203.91 sales

### Question 3: What time should we display ads to maximize liklihood of customers buying products?

In [68]:
all_months['Time'] = all_months['OrderDate'].dt.time

In [33]:
all_months

,OrderID,Product,QuantityOrdered,PriceEach,OrderDate,PurchaseAddress
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
186845,194090,Google Phone,1.0,600.00,2019-04-08 17:11:00,"177 Jackson St, Los Angeles, CA 90001"
186846,194091,AA Batteries (4-pack),1.0,3.84,2019-04-15 16:02:00,"311 Forest St, Austin, TX 73301"
186847,194092,AAA Batteries (4-pack),2.0,2.99,2019-04-28 14:36:00,"347 Sunset St, San Francisco, CA 94016"
186848,194093,AA Batteries (4-pack),1.0,3.84,2019-04-14 15:09:00,"835 Lake St, Portland, OR 97035"
186849,194094,Lightning Charging Cable,1.0,14.95,2019-04-18 11:08:00,"354 North St, Boston, MA 02215"

In [120]:
max_sales_df = all_months.groupby('Time').agg({'Sales': 'sum'})
max_sales = max_sales_df.max()
max_sales_at = max_sales_df[max_sales_df['Sales'] == max_sales.item()] #extract the time of max sales from the df
max_sales_at

             Sales
Time
19:01:00  54503.14

In [121]:
# ANS: Ads should be displayed at around 7 pm. This makes sense since this an after-work period

### Question 4: What products are most sold together?

In [24]:
duplicate_df = all_months[all_months['OrderID'].duplicated(keep=False)]
duplicate_df

,OrderID,Product,QuantityOrdered,PriceEach,OrderDate,PurchaseAddress
41,141275,USB-C Charging Cable,1.0,11.95,2019-01-07 16:06:00,"610 Walnut St, Austin, TX 73301"
42,141275,Wired Headphones,1.0,11.99,2019-01-07 16:06:00,"610 Walnut St, Austin, TX 73301"
57,141290,Apple Airpods Headphones,1.0,150.00,2019-01-02 08:25:00,"4 1st St, Los Angeles, CA 90001"
58,141290,AA Batteries (4-pack),3.0,3.84,2019-01-02 08:25:00,"4 1st St, Los Angeles, CA 90001"
133,141365,Vareebadd Phone,1.0,400.00,2019-01-10 11:19:00,"20 Dogwood St, New York City, NY 10001"
...,...,...,...,...,...,...
186803,194050,USB-C Charging Cable,1.0,11.95,2019-04-27 00:27:00,"997 9th St, San Francisco, CA 94016"
186809,194056,iPhone,1.0,700.00,2019-04-10 10:05:00,"280 7th St, San Francisco, CA 94016"
186810,194056,Lightning Charging Cable,1.0,14.95,2019-04-10 10:05:00,"280 7th St, San Francisco, CA 94016"
186815,194061,iPhone,1.0,700.00,2019-04-14 20:22:00,"209 6th St, Atlanta, GA 30301"
186816,194061,Lightning Charging Cable,3.0,14.95,2019-04-14 20:22:00,"209 6th St, Atlanta, GA 30301"

    Note: the transform() function is used to perform group-wise operations while preserving the original shape and index of the DataFrame. It applies a function to each group independently and returns a new Series or DataFrame with the transformed values aligned with the original data.

In [54]:
prods_per_ID = duplicate_df.groupby('OrderID')['Product'].transform(lambda x: ', '.join(x))
prods_per_ID.value_counts().sort_values(ascending=False)

Product
iPhone, Lightning Charging Cable             1764
Google Phone, USB-C Charging Cable           1712
iPhone, Wired Headphones                      722
Vareebadd Phone, USB-C Charging Cable         624
Google Phone, Wired Headphones                606
                                             ...
iPhone, iPhone                                  2
Google Phone, 27in 4K Gaming Monitor            2
LG Washing Machine, iPhone                      2
LG Dryer, Wired Headphones                      2
Vareebadd Phone, Lightning Charging Cable       2
Name: count, Length: 367, dtype: int64

In [55]:
# ANS: the 2 most products sold together are iPhone and Lightning Charging Cable

# Question 5: what product was sold the most? Why do you think it was sold most?